@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.fa-star-o:before {
  content: "\f006";
  color: #5f6368;
}

.fa-star:before {
  content: "\f005";
  color: #d56e0c;
}
